version: '3.8'

services:
  # The Database Service
  db:
    image: postgres:15-alpine
    container_name: kasparro_db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # We will add the 'app' service (your ETL + API) in Phase 5
  # For now, we just need the DB running to start coding tables.

volumes:
  postgres_data: